*.pyc
hacc_io.regular.weak-scaling.64.131072.recorder-log/recorder.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/63.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/63.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/62.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/62.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/61.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/61.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/60.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/60.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/59.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/59.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/58.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/58.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/57.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/57.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/56.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/56.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/55.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/55.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/54.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/54.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/53.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/53.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/52.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/52.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/51.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/51.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/50.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/50.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/49.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/49.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/48.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/48.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/47.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/47.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/46.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/46.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/45.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/45.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/44.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/44.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/43.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/43.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/42.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/42.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/41.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/41.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/40.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/40.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/39.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/39.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/38.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/38.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/37.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/37.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/36.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/36.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/35.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/35.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/34.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/34.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/33.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/33.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/32.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/32.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/31.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/31.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/30.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/30.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/29.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/29.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/28.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/28.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/27.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/27.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/26.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/26.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/25.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/25.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/24.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/24.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/23.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/23.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/22.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/22.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/21.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/21.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/20.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/20.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/19.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/19.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/18.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/18.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/17.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/17.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/16.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/16.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/15.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/15.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/14.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/14.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/13.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/13.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/12.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/12.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/11.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/11.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/10.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/10.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/9.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/9.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/8.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/8.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/7.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/7.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/6.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/6.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/5.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/5.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/4.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/4.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/3.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/3.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/2.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/2.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/1.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/1.itf
hacc_io.regular.weak-scaling.64.131072.recorder-log/0.mt
hacc_io.regular.weak-scaling.64.131072.recorder-log/0.itf
test-ioframe-functions.ipynb
test.ipynb
.ipynb_checkpoints/test-checkpoint.ipynb
.ipynb_checkpoints/test-ioframe-functions-checkpoint.ipynb
hacc_io.regular.weak-scaling.64.131072.recorder-log/VERSION
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/0.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/0.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/1.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/1.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/2.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/2.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/3.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/3.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/4.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/4.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/5.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/5.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/6.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/6.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/7.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/7.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/8.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/8.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/9.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/9.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/10.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/10.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/11.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/11.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/12.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/12.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/13.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/13.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/14.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/14.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/15.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/15.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/16.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/16.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/17.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/17.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/18.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/18.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/19.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/19.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/20.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/20.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/21.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/21.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/22.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/22.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/23.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/23.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/24.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/24.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/25.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/25.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/26.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/26.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/27.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/27.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/28.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/28.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/29.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/29.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/30.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/30.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/31.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/31.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/32.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/32.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/33.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/33.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/34.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/34.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/35.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/35.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/36.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/36.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/37.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/37.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/38.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/38.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/39.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/39.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/40.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/40.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/41.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/41.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/42.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/42.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/43.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/43.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/44.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/44.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/45.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/45.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/46.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/46.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/47.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/47.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/48.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/48.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/49.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/49.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/50.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/50.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/51.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/51.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/52.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/52.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/53.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/53.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/54.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/54.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/55.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/55.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/56.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/56.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/57.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/57.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/58.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/58.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/59.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/59.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/60.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/60.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/61.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/61.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/62.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/62.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/63.itf
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/63.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/recorder.mt
ior.regular.strong-scaling.64.t1m.b4m.s16.recorder-log/VERSION
.DS_Store
